node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
.turbo
todos.json

dev.turso.db*

apps/crawler/storage

# Terraform files
*.tfstate
*.tfstate.backup
.terraform*
terraform.tfvars
