@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

body {
  @apply m-0 font-sans text-neutral-900 min-h-screen h-full w-full;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --font-noto: "Noto Sans JP", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-bizud: "BIZ UDPGothic", sans-serif;
  --font-sans: "Inter", "Noto Sans JP", sans-serif;
  --container-8xl: 90rem;
}

@layer components {
  .read-area {
    @apply text-neutral-900 leading-loose tracking-wide font-bizud;
  }
}
